 
@use '../../../abstracts' as * ;
.icon-item {
    @include WidthAndHeight(80px, 80px); 
 
  border-radius: 16px;
  margin: 20px auto;

}
.ok{
  
  border-radius: 16px;
  color: #404040;
  cursor: $cursor;
 
  flex-direction: column;
 
  @include WidthAndHeight(80px ,80px);
  @include center(flex, center, none, center);
   &:hover{
    background-color: rgb(232,235,237);
   }
   span{
    margin-top:6px;
   }
}
.active {
  
  @include color(rgb(232,235,237),#666);
 }
.title-icon{
  
  @include Font(0.9rem,600)
}
